 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  h1{
    color:#e76f51;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-weight: Bold;
  }
  body{
    background-color:#212529;
    <!--border: 5px solid black; -->
  }    
  .img{
    margin-left:34%;
  }    
